@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #4caf50;
  color: black;
}

.title > img {
  width: 5%;
  height: 5%;
}
.countryInfo > * {
  margin: 2em;
  padding: 0.5em;
  border: #333 5px solid;
  flex-basis: 25%;
}

.countryInfo {
  display: flex;
  justify-content: space-evenly;
}

.landmarks,
.citizens {
  text-align: center;
}

.title {
  display: flex;
  justify-content: flex-start;
}

.title > img {
  width: 2.5%;
  height: 2.5%;
  margin-right: 1%;
  margin-top: 1%;
}

.countryImage {
  width: 60%;
  max-height: auto;
}

.image {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  background-color: #4caf50;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: #333 5px solid;
}

body {
  background-color: #5f5f5f;
  color: white;
}

h1 {
  text-shadow: 4px 4px black;
}

footer {
  background-color: #333;
  text-align: center;
  border: #4caf50 3px solid;
}
